<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FramelessPlayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <FramelessPlayer.Properties.Settings>
            <setting name="Accent" serializeAs="String">
                <value>Cobalt</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>BaseLight</value>
            </setting>
            <setting name="IsOnTop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Volume" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="IsTitlebarMinified" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CompactProgressBarOpacity" serializeAs="String">
                <value>0.8</value>
            </setting>
        </FramelessPlayer.Properties.Settings>
    </userSettings>
</configuration>
