<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net46" />
  <package id="MahApps.Metro" version="1.6.1" targetFramework="net46" />
  <package id="MahApps.Metro.IconPacks" version="2.1.0" targetFramework="net46" />
  <package id="Meta.Vlc" version="17.06.20" targetFramework="net46" developmentDependency="true" />
  <package id="Meta.Vlc.Lib" version="16.05.01" targetFramework="net46" developmentDependency="true" />
  <package id="Meta.Vlc.Wpf" version="17.06.20" targetFramework="net46" developmentDependency="true" />
</packages>